<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rabbit_event_list.rabbitsettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rabbit_event_list.rabbitsettings>
            <setting name="winpositionX" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="winpositionY" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="eventlistjson" serializeAs="String">
                <value />
            </setting>
        </rabbit_event_list.rabbitsettings>
    </userSettings>
</configuration>